<%= form_with(model: link, local: true) do |form| %>

<% if link.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

    <ul>
    <% link.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  
  <h4>Instructions:</h4>
  <p>Enter in a url starting with http:// or https://</p>

  <div class="field">
    <%= form.label :original, "Original Link" %>
    <%= form.text_field :original, id: :link_original %>
  </div>
    <%= form.submit %>
  </div>
<% end %>
